[submodule "deps/mptensor"]
	path = deps/submoduled/mptensor
	url = https://github.com/smorita/mptensor
[submodule "deps/sanitizers-cmake"]
	path = deps/submoduled/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake
[submodule "deps/cpptoml"]
	path = deps/submoduled/cpptoml
	url = https://github.com/skystrife/cpptoml
