os: linux
dist: xenial
language: cpp
sudo: enabled

install:
  - export ROOTDIR=`pwd`
  - sudo apt-get update
  - sudo apt-get install -y gcc gfortran cmake liblapack-dev
  - sudo apt-get install -y libopenmpi-dev openmpi-bin
  - sudo apt-get install -y enchant
  - pyenv global 3.7
  - python3 -m pip install -U pip
script:
  - cd ${ROOTDIR}
  - mkdir build
  - cd build
  - cmake  ../
  - VERBOSE=1 make
  - ctest -VV
